<div class="d-flex flex-column align-items-center">
  <div class="d-flex justify-content-between align-items-center certificate-menu w-100">
    <div class="d-flex align-items-center return-btn" routerLink="/">
      <i class="ph ph-arrow-left"></i>
      <p class="m-0">Voltar</p>
    </div>
    <app-secondary-button></app-secondary-button>
  </div>

  <div class="certificate d-flex justify-content-center align-items-center">
    <img src="certificate/Certificate_Ribbon.png" alt="Medalha" class="medal-icon">
    <div class="certificate-content text-center">
      <img src="certificate/Certificate_Signature.svg" alt="Assinatura" class="signature-img">
      <div class="certificate-info text-center">
        <div class="certificate-title-subtitle">
          <h1>Certificado de conclusão</h1>
          <p class="subtitle">Este certificado comprave que</p>
        </div>

        <p class="student-name">Ana Silva Lopes</p>

        <div class="activity-list-group text-center">
          <p class="subtitle">Concluiu com sucesso as seguintes atividades:</p>
          <p class="activity-list-text">Introdução ao Angular, Configuração com Angular CLI, Criação de componentes reutilizáveis, Manipulação de dados, Implementação de data binding, Criação de rotas com Angular Router, Consumo de APIs REST</p>
        </div>
      </div>
      <span>Emitido em 25/04/2025</span>
    </div>
  </div>
</div>
